<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>Do you want to add more?</h4>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="formGroupExampleInput">Please give the word</label>
          <input
            formControlName="name"
            id="name"
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="My word"
          />
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Please give the meaning</label>
          <input
            formControlName="description"
            id="description"
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="My desc"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
